<!-- sections -->
<section id="downloads-zone">
    <h1 class="fa developers">Downloads</h1>
    <div class="module-group n-mods-1">
        <div class="module">
            <div class="toolbar">
                <div class="cell">
                    <input id="download-link-input" type="text" placeholder="paste download link here">
                </div>
                <div class="cell">
                    <button id="download-link-button" class="frozen glimmer button">Download</button>
                </div>
            </div>
        </div>
    </div>
    <div class="module-group n-mods-1">
        <div class="module">
            <div id="downloads-container">
                <ul id="downloads"></ul>
            </div>
        </div>
    </div>
</section>
<!-- End sections -->
