<!-- sections -->
<section class="message-section">
    <div class="section-wrapper">
        <div class="controls">
            <i class="fa fa-close close"></i>
        </div>
        <!--<h1 class="fa started">How To</h1>-->
        <div class="module-group n-mods-1">
            <div class="module">
                <h3>P2P File Sharing</h3>
                <p>
                    Vlink allows you to <em>share files via a completely transparent peer-to-peer connection</em>. Drag and drop
                    any file(s) you want to share into the target box below and then share the 'vlink'. The file will
                    be available for download as long as your browser window is open.
                </p>
                <p>
                    <a href="#">» Learn More</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="target-zone">
    <h1 class="fa developers">Share Files</h1>
    <div class="module-group n-mods-1">
        <div class="module">
            <div id="drop-zone-container">
                <ul id="drop-zone"></ul>
                <div id="drop-zone-indicator">
                    <span id="drop-notice"><i></i>Drop Files to Share</span>
                </div>
            </div>
            <div id="drop-controls">
                <button id="add-files" class="shimmer button">Add</button>
                <button id="remove-files" class="shimmer button frozen">Remove</button>
                <input type="file" id="add-files-input" multiple="true">
            </div>
        </div>
    </div>
</section>
<!-- End sections -->
