<!-- sections -->
<!--<section>-->
    <!--<h1 class="fa started">How To</h1>-->
    <!--<div class="module-group n-mods-2">-->
        <!--<div class="module">-->
            <!--<h3>Load Files</h3>-->
            <!--<p>-->
                <!--Drag and drop any file(s) you want to share into the target box below to start sharing.-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="module">-->
            <!--<h3>Share Links</h3>-->
            <!--<p>-->
                <!--Copy a file's generated link and share it. The file will be available for download as long as your-->
                <!--browser window remains open.-->
            <!--</p>-->
            <!--<p>-->
                <!--<a href="#">» Learn More</a>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<section id="target-zone">
    <h1 class="fa developers">Share Files</h1>
    <div class="module-group n-mods-1">
        <div class="module">
            <div id="drop-zone-container">
                <ul id="drop-zone"></ul>
                <div id="drop-zone-indicator">
                    <span id="drop-notice"><i></i>Drop Files to Share</span>
                </div>
            </div>
            <div id="drop-controls">
                <button id="add-files">Add Files</button>
                <input type="file" id="add-files-input" multiple="true">
            </div>
        </div>
    </div>
</section>
<!-- End sections -->
